* {
    font-family: 'Poppins', sans-serif;
    --main-cyan: #06b6d4;
}

.navbar {
    top: 0;
    transition: top 0.3s;
}

#button {
    margin-bottom: 20px;
}

#burger-menu:active > div, #burger-menu:hover > div {
    background-color: #06b6d4;
}

.tooltip {
    padding: 1rem 0;
}

.icon:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.2);
}

.project {
    box-shadow: 2px 2px 6px rgb(0 0 0 / 60%), -2px -2px 6px rgb(255 255 255 / 20%);
    border-radius: 5px;
}

.fade-in {
    opacity: 0;
    transition: opacity 400ms ease-in;
}

.fade-in.appear, .fade-in-project.appear {
    opacity: 1;
}

.from-right {
    transform: translate3d(100px, 0, 0);
}

.from-left {
    transform: translate3d(-100px, 0 ,0);
}

.from-left, .from-right {
    opacity: 0;
}

.from-left, .from-right {
    transition: opacity 1000ms ease-in, transform 500ms ease-in;
}

#home-image {
    animation: 1s ease-in showImage;
}

.from-left.appear,
.from-right.appear {
    opacity: 1;
    transform: translate(0);
}

@keyframes showImage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}