* {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navbar {
    top: 0;
    transition: top 0.3s;
    overflow-x: visible;
}

#button {
    margin-bottom: 20px;
}

#burger-menu:active > div, #burger-menu:hover > div {
    background-color: #06b6d4;
}

.tooltip {
    padding: 1rem 0;
}

.icon:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.2);
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear, .fade-in-project.appear {
    opacity: 1;
}

.from-right {
    transform: translate(30%);
}

.from-left {
    transform: translate(-30%);
}

.from-left, .from-right {
    opacity: 0;
}

.from-left, .from-right {
    transition: opacity 1000ms ease-in, transform 500ms ease-in;
}

.from-left.appear,
.from-right.appear {
    opacity: 1;
    transform: translate(0);
} 
