* {
    font-family: 'Poppins', sans-serif;
    --main-cyan: #06b6d4;
}

.navbar {
    top: 0;
    transition: top 0.3s;
    position: relative;
}

#button {
    margin-bottom: 20px;
}

#burger-menu:active > div, #burger-menu:hover > div {
    background-color: #06b6d4;
}

#burger-menu {
    display: none;
}

#burger-menu-icon {
    font-size: 2rem;
}

.animate-text {
    opacity: 0;
}

.tooltip {
    padding: 1rem 0;
}

.icon:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.2);
}

.project {
    box-shadow: 2px 2px 6px rgb(0 0 0 / 60%), -2px -2px 6px rgb(255 255 255 / 20%);
    border-radius: 5px;
}

.fade-in, .fade-in-project {
    opacity: 0;
    transition: opacity 400ms ease-in;
}

.fade-in.appear, .fade-in-project.appear {
    opacity: 1;
}

#home-image {
    animation: 1s ease-in showImage;
}

@keyframes showImage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 640px) {
    #burger-menu {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
  }