// breakpoints

$small: "640px";
$medium: "768px";
$large: "1024px";
$x-large: "1280px";

@mixin sm {
  @media screen and (min-width: $small) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $medium) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $large) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: $x-large) {
    @content;
  }
}

// mixins

@mixin fade-in-content {
  animation: fade-in 1s ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

// light theme colours
$light-theme-text: #212427;
$light-theme-bg: #f5f5f5;
$light-theme-green: #0f610f;
$light-theme-grey-1: #333333d9;
$light-theme-grey-2: #3f3f3f;
$light-theme-grey-3: #5d5c5c1a;
$light-theme-grey-4: #505050e6;
$light-theme-hover-background: #dededee6;

// dark theme colours
$dark-theme-text: #ffffff;
$dark-theme-bg: #101319;
$dark-theme-green: #a7ff49;
$dark-theme-grey-1: #b9b8b8b3;
$dark-theme-grey-2: #999999;
$dark-theme-grey-3: #ffffff33;
$dark-theme-grey-4: #bebebeb3;
$dark-theme-hover-background: #22252de6;

// colours
[data-theme="light"] {
  --text: #{$light-theme-text};
  --background: #{$light-theme-bg};
  --green: #{$light-theme-green};
  --grey-1: #{$light-theme-grey-1};
  --grey-2: #{$light-theme-grey-2};
  --grey-3: #{$light-theme-grey-3};
  --grey-4: #{$light-theme-grey-4};
  --hover-background: #{$light-theme-hover-background};
}

[data-theme="dark"] {
  --text: #{$dark-theme-text};
  --background: #{$dark-theme-bg};
  --green: #{$dark-theme-green};
  --grey-1: #{$dark-theme-grey-1};
  --grey-2: #{$dark-theme-grey-2};
  --grey-3: #{$dark-theme-grey-3};
  --grey-4: #{$dark-theme-grey-4};
  --hover-background: #{$dark-theme-hover-background};
}
